<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>io.element.elementx.background.refresh</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh-Hans</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Mention Pills</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<string>$(PILLS_UT_TYPE_IDENTIFIER)</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh-Hans</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Application</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(BASE_BUNDLE_IDENTIFIER)</string>
				<string>matrix</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>家庭聊天需要使用相机来拍摄并发送照片或视频。</string>
	<key>NSFaceIDUsageDescription</key>
	<string>面容 ID 可保护你在家庭聊天中的账号。</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>家庭聊天需要在后台获取位置来共享实时位置。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>家庭聊天需要获取位置来发送当前位置或附近地点。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>家庭聊天需要使用麦克风来发送语音消息和通话。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>家庭聊天需要访问照片图库来保存图片和视频。</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INSendMessageIntent</string>
		<string>INStartCallIntent</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
		<string>voip</string>
		<string>location</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>colors/background-color</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Mention Pills</string>
			<key>UTTypeIdentifier</key>
			<string>$(PILLS_UT_TYPE_IDENTIFIER)</string>
		</dict>
	</array>
	<key>appGroupIdentifier</key>
	<string>$(APP_GROUP_IDENTIFIER)</string>
	<key>baseBundleIdentifier</key>
	<string>$(BASE_BUNDLE_IDENTIFIER)</string>
	<key>classicAppDeepLinkURL</key>
	<string>$(CLASSIC_APP_DEEP_LINK_URL)</string>
	<key>classicAppGroupIdentifier</key>
	<string>$(CLASSIC_APP_GROUP_IDENTIFIER)</string>
	<key>classicAppKeychainAccessGroupIdentifier</key>
	<string>$(CLASSIC_APP_KEYCHAIN_ACCESS_GROUP_IDENTIFIER)</string>
	<key>classicAppKeychainServiceIdentifier</key>
	<string>$(CLASSIC_APP_KEYCHAIN_SERVICE_IDENTIFIER)</string>
	<key>isNightlyBuild</key>
	<string>$(IS_NIGHTLY_BUILD)</string>
	<key>keychainAccessGroupIdentifier</key>
	<string>$(KEYCHAIN_ACCESS_GROUP_IDENTIFIER)</string>
	<key>productionAppName</key>
	<string>$(PRODUCTION_APP_NAME)</string>
</dict>
</plist>
